h1 {
    text-align: center;
    padding: 20px;
    background-color: darkred;
    text-shadow: saddlebrown 1px 1px 1px;
    border-radius: 10px;
}
body {
    background-image: url("background.jpg");
    color: white;
    font-family: Verdana, sans-serif;

}
#contenue {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}
#chrono {
    font-size: 40px;
}
button {
    background-color: darkred;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 130px;
    height: 30px;
    margin-top: 20px;
}
