h1 {
    text-align: center;
    padding: 20px;
    background-color: lightseagreen;
    text-shadow: saddlebrown 1px 1px 1px;
}
body {
    background-color: darkcyan;
    color: white;
    font-family: Verdana, sans-serif;
}
#contenue {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}
#chrono {
    font-size: 40px;
}
button {
    background-color: lightgreen;
    width: 130px;
    height: 30px;
    margin-top: 20px;
}
#div2 {
    background-color: lightseagreen;
    border-radius: 100%;
    height: 600px;
    width: 600px;
}